@model WebApplication1.Models.story

@{
    ViewBag.Title = "Details";
}
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Story</a></li>
    <li class="active"><a href="#">Details</a></li>
</ol>
<h2>@Html.ActionLink(@Html.DisplayFor(model => model.user.Name) +" " + @Html.DisplayFor(model => model.user.Surname) +"", "Details", "user", new { id = Model.user_Id }, htmlAttributes: new { title = "Manage" })'s story</h2>


<div>
    <h4><strong>@Html.DisplayFor(model => model.description)</strong></h4>
	<hr />
    <dl class="dl-horizontal">

        <dd>
            @if (Model.image1 == null)
            {
                <img src="~/Images/noimage.jpg" alt="" style="width:75px;" />
            }
            else
            {
                <img src="@Url.Content(Model.image1)" alt="" style="width:900px;" />
            }
        </dd>

        <dd>
            <br />
        </dd>

        <dd>
            @Html.DisplayFor(model => model.text)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.idstory }) |
    @Html.ActionLink("Back to List", "Index")*@
    <a href="javascript: history.go(-1)">Go Back</a>
</p>
