@model IEnumerable<WebApplication1.Models.story>

@{
    ViewBag.Title = "Index";
}
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Story</a></li>
    <li class="active"><a href="#">List Stories</a></li>
</ol>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image1)
        </th>
        <th>
            Posted by
        </th>
        <th>
            Options
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @if (item.image1 == null)
                {
                   <img src="~/Images/noimage.jpg"  alt="" style="width:75px;" />
                }
                else
                {
                    <img src="@Url.Content(item.image1)" alt="" style="width:75px;" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.Name) @Html.DisplayFor(modelItem => item.user.Surname)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.idstory }) |*@
                @Html.ActionLink("Details", "Details", new { id = item.idstory }) @*|
                    @Html.ActionLink("Delete", "Delete", new { id=item.idstory })*@
            </td>
        </tr>
    }

</table>
