@model WebApplication1.Models.User_Details_ViewModel

@{
    ViewBag.Title = "Details";
}
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">User</a></li>
    <li class="active"><a href="#">Details</a></li>
</ol>
<h2>Details</h2>

<div>
    <h4>User Profile</h4>
	<hr />
    <dl class="dl-horizontal">
        <dd>
            <img src="@Url.Content(Model.Foto)" alt="" style="width:400px;" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.University)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.University)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course)
        </dd>
    </dl>
</div>
<p>
    <a href="javascript: history.go(-1)">Go Back</a>
</p>
